<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="copyright"><%= Date.current.year %> © АН РиелтСтройСфера</div>
      </div>
    </div>
  </div>
</footer>
