<div class="map">
  <a class="dg-widget-link" href="http://2gis.ru/murmansk/firm/70000001017465866/center/33.09141039848328,68.96609764053234/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Мурманска</a>
  <div class="dg-widget-link">
    <a href="http://2gis.ru/murmansk/firm/70000001017465866/photos/70000001017465866/center/33.09141039848328,68.96609764053234/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos">Фотографии компании</a>
  </div>
  <div class="dg-widget-link">
    <a href="http://2gis.ru/murmansk/center/33.091394,68.96583/zoom/16/routeTab/rsType/bus/to/33.091394,68.96583╎РиелтСтройСфера, агентство недвижимости?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до РиелтСтройСфера, агентство недвижимости</a>
  </div>
  <script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script>
  <script charset="utf-8">new DGWidgetLoader({"width":"100%","height":500,"borderColor":"#a3a3a3","pos":{"lat":68.96609764053234,"lon":33.09141039848328,"zoom":16},"opt":{"city":"murmansk"},"org":[{"id":"70000001017465866"}]});</script>
  <noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
</div>
