<div class="map">
  <script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script>
  <script charset="utf-8">new DGWidgetLoader({"width":"100%","height":500,"borderColor":"#a3a3a3","pos":{"lat":68.96609764053234,"lon":33.09141039848328,"zoom":16},"opt":{"city":"murmansk"},"org":[{"id":"70000001017465866"}]});</script>
</div>
