<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 explore">
      <div class="explore-wrapper">
        <div class="explore-info">
          <h1>Ищете квартиру своей мечты?</h1>
          <p>Мы можем помочь вам осуществить вашу мечту</p>
        </div>
        <div class="explore-link">
          <%= link_to "#", class: "btn btn-light" do %>
            Подобрать <i class="bi bi-arrow-right"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
