<div class="row">
  <div class="<%= classes[0] %>">
    <div class="<%= classes[1] %>">
      <div class="explore-info">
        <h1>Заявки на покупку недвижимости</h1>
        <p>Воспользуйтесь нашим особым предложением на рынке недвижимости по подбору покупателя</p>
      </div>
      <div class="explore-link">
        <%= link_to sells_search_buyers_path, class: "btn btn-light" do %>
          Подобрать <i class="bi bi-arrow-right"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
