<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 explore">
      <div class="explore-wrapper">
        <div class="explore-info">
          <h1>Присоединяйтесь к нам!</h1>
          <p>Если желаете стать частью нашей команды</p>
        </div>
        <div class="explore-link">
          <%= link_to vacancies_path, class: "btn btn-light" do %>
            Вакансии <i class="bi bi-arrow-right"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
