<div class="page-footer">
  <div class="row">
    <div class="col-md-6"><%= Date.current.year %> © АН РиелтСтройСфера</div>
    <div class="col-md-6">
      <div class="text-sm-end">Design & Develop by Ruslan Fedotov</div>
    </div>
  </div>
</div>
