<div class="d-flex justify-content-between pagination-info">
  <div class="d-flex align-items-center">
    <%= showing_results collection.size, total %>
  </div>
  <%= admin_pagination collection %>
</div>
