.breadcrumb {
  .breadcrumb-item {
    a {
      color: #198754;
      text-decoration: unset;

      &:focus {
        color: #198754;
        text-decoration: unset;
      }

      &:hover {
        color: #75b08a;
      }
    }
  }
}

@media (max-width: 767px) {
  .breadcrumb {
    .breadcrumb-item {
      font-size: 12px;
    }
  }
}
