.content-info {
  background: url("location-bg.png") no-repeat scroll 0 center transparent;

  color: white;
  padding: 7% 0 3%;
  background-size: cover;
  position: relative;

  .content-info__bg {
    background: rgba(117, 176, 138, .8);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-size: 100%;
    width: 100%;
    display: block;
    height: 100%;
  }

  .container {
    position: relative;

    .title {
      font-size: 20px;
    }

    .footer-contact-info {
      .info-item {
        background: rgba(0, 0, 0, .2);
        border-radius: 5px;
        margin: 10px 0;
        position: relative;
        padding-top: 8px;
        padding-left: 40px;
        padding-bottom: 8px;

        a {
          color: white;
          text-decoration: none;

          &:focus {
            color: white;
            text-decoration: none;
          }

          &:hover {
            color: #75b08a;
          }
        }

        i {
          background: rgba(0, 0, 0, .2);
          text-align: center;
          width: 34px;
          height: 100%;
          top: 0;
          bottom: 0;
          border-radius: 5px 0 0 5px;
          line-height: 40px;
          margin-right: 10px;
          display: inline-block;
          left: 0;
          position: absolute;
        }
      }

      .btn-group {
        background-color: rgba(0, 0, 0, .2);

        a {
          &:hover {
            background-color: rgba(0, 0, 0, .4);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .content-info {
    .title {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 767px) {
  .content-info {
    padding: 7% 0 7% 0;

    .title {
      margin-bottom: 15px;
      text-align: center;
    }

    .col-12 {
      &:last-child {
        .title {
          margin-top: 15px;
        }
      }
    }
  }
}
