.explore {
  position: relative;
  padding: unset !important;

  .explore-wrapper {
    align-items: center;
    padding: 40px 60px;
    background-color: #198754;
    color: #d3d4d5;
    width: 100%;

    h1 {
      color: white;
    }

    .explore-link {
      a {
        border-radius: unset;
        padding: 15px 40px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .explore {
    .explore-wrapper {
      position: absolute;
      bottom: -110px;
      z-index: 100;
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (max-width: 767px) {
  .explore {
    .explore-wrapper {
      padding: 20px;
      text-align: center;
      margin: -7px 0 -25px 0;

      h1 {
        font-size: 22px;
      }

      p {
        font-size: 14px;
      }

      .explore-link {
        a {
          padding: 8px 20px;
        }
      }
    }
  }
}
